@import url(./common/main.less);

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    .h(49);
    display: flex;
    align-items: center;
    div{
        flex: 1;
        .fs(10);  
        display: flex;
        flex-direction: column;
    }
    .active{
        color: rgba(255,104,84,1);
    }
}